:root {
  --color--voice: rgba(255, 255, 255, 0.7);
  --color--highlight: #326432;
  --fontSize: 30px;
  --fontSize--small: 14px;
  --color--voice--0: #2781a8;
  --color--voice--1: #3a755b;
  --color--voice--2: #edd982;
  --color--voice--3: #a82727; }

* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  font-family: 'Helvetica';
  font-size: var(--fontSize);
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  color: var(--color--voice);
  transition: color 1s ease; }
  body.is-ready canvas {
    opacity: 1; }
  body.is-voice-0 {
    --color--voice: var(--color--voice--0); }
  body.is-voice-1 {
    --color--voice: var(--color--voice--1); }
  body.is-voice-2 {
    --color--voice: var(--color--voice--2); }
  body.is-voice-3 {
    --color--voice: var(--color--voice--3); }

#top, #bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center; }

#top {
  top: 20px; }

#bottom {
  bottom: 20px; }

canvas {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s ease; }
